WpfClient/Service References/FileTransferServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileTransferService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFileTransferService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UploadFileInfo">
    <wsdl:part name="parameters" element="tns:UploadFileInfo" />
  </wsdl:message>
  <wsdl:message name="UploadFileInfo_Headers">
    <wsdl:part name="Lenght" element="tns:Lenght" />
    <wsdl:part name="OperationIsCanceled" element="tns:OperationIsCanceled" />
  </wsdl:message>
  <wsdl:message name="IFileTransferService_SendProgress_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendProgress" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IFileTransferService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/UploadFile" name="UploadFileInfo" message="tns:UploadFileInfo" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendProgress">
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferService/SendProgress" message="tns:IFileTransferService_SendProgress_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFileTransferService" type="tns:IFileTransferService">
    <wsp:PolicyReference URI="#NetTcpBinding_IFileTransferService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/IFileTransferService/UploadFile" style="document" />
      <wsdl:input name="UploadFileInfo">
        <soap12:header message="tns:UploadFileInfo_Headers" part="Lenght" use="literal" />
        <soap12:header message="tns:UploadFileInfo_Headers" part="OperationIsCanceled" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendProgress">
      <soap12:operation soapAction="http://tempuri.org/IFileTransferService/SendProgress" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileTransferService">
    <wsdl:port name="NetTcpBinding_IFileTransferService" binding="tns:NetTcpBinding_IFileTransferService">
      <soap12:address location="net.tcp://localhost:8733/FileTransfer" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8733/FileTransfer</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>