WpfClient/Service References/SearchRowServiceReference/WcfServiceLibrary.Contracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SearchResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorrentPage" type="xs:int" />
      <xs:element minOccurs="0" name="PagesCount" type="xs:int" />
      <xs:element minOccurs="0" name="ResultsCount" type="xs:int" />
      <xs:element minOccurs="0" name="ResultsOnPage" nillable="true" type="tns:ArrayOfFileRowModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResultDto" nillable="true" type="tns:SearchResultDto" />
  <xs:complexType name="ArrayOfFileRowModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileRowModel" nillable="true" type="tns:FileRowModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileRowModel" nillable="true" type="tns:ArrayOfFileRowModel" />
  <xs:complexType name="FileRowModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="RowNumber" type="xs:int" />
      <xs:element minOccurs="0" name="RowText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileRowModel" nillable="true" type="tns:FileRowModel" />
</xs:schema>